*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17a2b7;
}

.wrapper{
    width: 770px;
    padding: 35px;
    border-radius: 11px;
    background: #fff;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
}