*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #17a2b7;
}

.wrapper{
    width: 770px;
    padding: 35px;
    border-radius: 11px;
    background: #fff;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
    width: 0;
}

.typing-text p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.content-box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #ccc;
}
.content button{
    border: none;
    outline: none;
    width: 105px;
    font-size: 16px;
    background: #17a2b7;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.content button:active{
    
}
.content .result-details{
    width: calc(100% - 140px);
    display: flex;
    justify-content: space-between;
}
.result-details li{
    height: 22px;
    list-style: none;
    display: flex;
    align-items: center;
}
.result-details li:not(:first-child){
    border-left: 1px solid #ccc;
    padding-left: 22px;
}
.result-details li p{
    font-size: 18px;
}
.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}
.result-details li b{
    font-weight: 500;
}
.result-details li:not(:first-child) span{
    font-weight: 500;
}